.bar {
    width: 100%;
    height: 2px;
    background-color: gray;
    margin-top: 5px;
}

.dir {
    border-color: rgb(201, 167, 167);
    border-style: solid;
    border-width: 0.2px;
    border-radius: 20px;
    margin-top: 15px;
    width: 48%;
    height: 200px;
}

.left {
    float: left;
    margin-left: 3px;
}

.right {
    float: right;
    margin-right: 3px;
}

.half {
    width: 45%;
}

.cateImg {
    width: 100%;
    border-radius: 20px;
    height: 50%;
}