---
layout: default
---
<div id="main">
  <div style="font-size: 20px; font-weight: 800;">Blog Directory</div>
  <div class="bar"></div>
  <div id="app">
  {{ content }}
  <!-- this part is to build Blog Dirctory -->
  <div class="inner-space_between">
        <div v-for="(cate, index) in category" :key="cate.title" class="half">
            <article>
                <header>
                <h2><a :href="cate.firstLink">[[ cate.title ]]</a></h2>
                </header>
                <section>
                <img :src="cate.cover" :alt="cate.title" class="cateImg"  @click="cate.vis = true">
                </section>
                <footer>
                <ul class="actions">
                    <li><div class="button" @click="cate.vis = true">Detail</div></li>
                </ul>
                </footer>
            </article>
        </div>
    </div>
    <!-- this part is to build the menu when you click the cover or button -->
    <div v-for="(cate, index) in category" :key="cate.key">
        <el-dialog :title="`${cate.title}全书目录`" :visible.sync="cate.vis" width="27em" >
            <el-scrollbar class="dialog-max-height">
                <el-timeline>
                    <el-timeline-item
                        v-for="(item, index) in blog[cate.key]"
                        :key="index" :color="point_color"
                        :timestamp="item.time" >
                        <a class="dir_a" :href="item.link">[[item.name]]</a> 
                    </el-timeline-item>
                </el-timeline>
            </el-scrollbar>
        </el-dialog>
    </div>

    </div>
   </div>
<script src="../js/data/blogInfo.js" type="module"></script>
<script type="module">
    import data from '../js/data/blogInfo.js';
    new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data() {
            return data
        },
    });
</script>


