---
layout: default
---
<div id="main">
  <article>
    <header>
      <h1 class="post-title">{{ page.title }}</h1>
      <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
      <div id="postApp">
        {% assign pdfUrl = "/js/pdfJS/web/viewer.html?file=" | append: page.pdfUrl %}
        <a href="{{ page.githubUrl }}" class="button">Read On Github</a>
        <a href="{{ pdfUrl }}" class="button">Read On PDF</a>
        <a class="button">
          <el-switch
            v-model="value"
            @change="activeCopy"
            active-text="禁止复制"
            inactive-text="开启复制"
            active-color="#13ce66"
            inactive-color="#ff4949">
          </el-switch>      
        </a>

        <el-button icon="el-icon-search" circle id="munuButton" @click.stop="showMenu()"></el-button>
      </div>
    </header>

    <section>
      <img src="{{ page.cover }}" alt="cover" style="width: 100%; height: 100%;">
      <div id="blog">
        {{ content }}
      </div>
    </section>

    {% assign next_post = nil %}
    {% assign pre_post = nil %}
    {% for pp in site.documents %}
      {% if pp.url == page.nextUrl %}
        {% assign next_post = pp %}
      {% endif %}
      {% if pp.url == page.previousUrl %}
        {% assign pre_post = pp %}
      {% endif %}
    {% endfor %}

    <footer>
      <div class="row">
      {% if pre_post %}
        <article class="{% cycle '6u', '6u$' %} 12u(small)">
          <header>
            <h2><a href="{{ pre_post.url }}">
              <img src="/assets/basic/prev.png" alt="pre" style="width: 20px; height: 20px; transform: translateY(2px);">
              {{ pre_post.title }}</a></h2>
          </header>
          <section>
            <img src="{{ pre_post.cover }}" alt="cover" style="width: 100%; height: 100%;">
          </section>
          <footer>
            <ul class="actions">
              <li><a href="{{ pre_post.url }}" class="button">Read More</a></li>
            </ul>
          </footer>
        </article>
      {% endif %}

      {% if next_post %}
        <article class="{% cycle '6u', '6u$' %} 12u(small) excerpt f-right">
          <header>
            <h2><a href="{{ next_post.url }}">
              {{ next_post.title }}
              <img src="/assets/basic/next.png" alt="next" style="width: 30px; height: 30px; transform: translateY(5px);">
              </a></h2>
          </header>
          <section>
            <img src="{{ next_post.cover }}" alt="cover" style="width: 100%; height: 100%; border-radius: 20px;">
          </section>
          <footer>
            <ul class="actions">
              <li><a href="{{ next_post.url }}" class="button">Read More</a></li>
            </ul>
          </footer>
        </article>
      {% endif %}
      </div>
    </footer>
  </article>
</div>
<script>
  let menu = document.querySelector("#markdown-toc")
  menu.style.visibility = "hidden"

  document.onclick = function() {
    let menu = document.querySelector("#markdown-toc")
    if(menu.style.visibility == "visible")
      menu.style.visibility = "hidden"
    console.log("click")
  }

  post = new Vue({
      el: '#postApp',
      data() {
          return {
            value : true
          };
      },
      methods : {
        showMenu() {
          let menu = document.querySelector("#markdown-toc")
          if(menu.style.visibility == "hidden")
            menu.style.visibility = "visible";
          else menu.style.visibility = "hidden"
        },
        activeCopy() {
          let blog = document.querySelector("#blog")
          if(this.value) {
            blog.style.userSelect = "none"
          }else {
            blog.style.userSelect = "auto"
          }
        }
      }
  });
</script>