---
layout: default
---
<div id="main">
  <article>
    <header>
      <h1 class="post-title">{{ page.title }}</h1>
      <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
      <a href="{{ page.githubUrl }}" class="button">Read On Github</a>
      <a href="{{ page.pdfUrl }}" class="button">Read On PDF</a> 
    </header>

    <div id="postApp">
      <el-button icon="el-icon-search" circle id="munuButton" @click="showMenu()"></el-button>
    </div>

    <section>
      <img src="{{ page.cover }}" alt="cover" style="width: 100%; height: 100%;">
      <div id="blog">
        {{ content }}
      </div>
    </section>

    <footer>
      <div class="row">
      {% if page.ifPrevious %}
        <article class="{% cycle '6u', '6u$' %} 12u(small) excerpt">
          <header>
            <h2><a href="{{ page.previousUrl }}">
              <img src="/assets/basic/prev.png" alt="pre" style="width: 20px; height: 20px; transform: translateY(2px);">
              {{ page.previousTitle }}</a></h2>
          </header>
          <section>
            <img src="{{ page.prevCover }}" alt="cover" style="width: 100%; height: 100%;">
          </section>
          <footer>
            <ul class="actions">
              <li><a href="{{ page.previousUrl }}" class="button">Read More</a></li>
            </ul>
          </footer>
        </article>
      {% endif %}

      {% if page.ifNext %}
        <article class="{% cycle '6u', '6u$' %} 12u(small) excerpt f-right">
          <header>
            <h2><a href="{{ page.nextUrl }}">
              {{ page.nextTitle }}
              <img src="/assets/basic/next.png" alt="next" style="width: 30px; height: 30px; transform: translateY(5px);">
              </a></h2>
          </header>
          <section>
            <img src="{{ page.nextCover }}" alt="cover" style="width: 100%; height: 100%; border-radius: 20px;">
          </section>
          <footer>
            <ul class="actions">
              <li><a href="{{ page.nextUrl }}" class="button">Read More</a></li>
            </ul>
          </footer>
        </article>
      {% endif %}
      </div>
    </footer>
  </article>
</div>
<script>
  post = new Vue({
      el: '#postApp',
      data() {
          return {
            
          };
      },
      methods : {
        showMenu() {
          let menu = document.querySelector("#markdown-toc")
          console.log(menu.style.display)
          if(menu.style.visibility == "hidden")
            menu.style.visibility = "visible";
          else menu.style.visibility = "hidden"
        }
      }
  });
</script>